<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form method="post">
        {% csrf_token %}
<input type="number" name="num"></form>
{% for i in  num %}
<form method="POST" >

    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Save">
</form>
{% block content %}


    {%endblock%}

{% endfor %}
<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
  var x = document.createElement("INPUT");
  var t = document.createTextNode("Click me");
  x.appendChild(t);
  document.body.appendChild(x);
}
</script>
</body>
</html>